[submodule "Recommendation_systems"]
	path = Recommendation_systems
	url = https://github.com/Amiri-Yossri/Recommendation_systems.git
[submodule "Segment_level_semantic_search"]
	path = Segment_level_semantic_search
	url = https://github.com/Amiri-Yossri/Segment_level_semantic_search.git
[submodule "Text_classification"]
	path = Text_classification
	url = https://github.com/Amiri-Yossri/Text_classification.git
[submodule "Text_segmentation"]
	path = Text_segmentation
	url = https://github.com/Amiri-Yossri/Text_segmentation.git
